body {
  font-family: Raleway;
  max-width: 500px;
  margin: 0 auto;
}

h1, h4 {
  text-align: center;
}

#game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  display: flex;

}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(37, 35, 35);
  font-size: 80px;
  text-align: center;
  color: lightgray;
  background-color: rgb(255, 0, 119);
}

.grid-1{
  margin-top: 60px;

}

.grid-2{

}

.grid-3{

}

.grid-4{

}

.grid-5{

}

.grid-6{

}

.grid-7{

}

.grid-8{

}

.grid-9{

}

